<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U04_Quejas</servlet-name>
        <servlet-class>Servlet.U04_Quejas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U04_Logout</servlet-name>
        <servlet-class>Servlet.U04_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda</servlet-name>
        <servlet-class>Servlet.Busqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U04_Controlador_Register</servlet-name>
        <servlet-class>Controlador.U04_Controlador_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U04_Controlador_Login</servlet-name>
        <servlet-class>Controlador.U04_Controlador_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U04_Controlador_Quejas</servlet-name>
        <servlet-class>Controlador.U04_Controlador_Quejas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>U04_Controlador_Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U04_Quejas</servlet-name>
        <url-pattern>/quejas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U04_Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda</servlet-name>
        <url-pattern>/Busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U04_Controlador_Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U04_Controlador_Quejas</servlet-name>
        <url-pattern>/Quejas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
